name: MDS-Core Continuous Integration

on:
  push:

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "16.11.1"
      - uses: actions/cache@v2
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
      - uses: pnpm/action-setup@v2.1.0
        with:
          version: 6.31.0
      - name: Install Dependencies
        run: |
          pnpm i
      - name: Run Linters
        run: |
          pnpm lint
      - name: Run Build
        run: |
          pnpm build

  tests:
    runs-on: ubuntu-latest
    container: node:16

    services:
      postgres:
        image: postgis/postgis:13-master
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      redis:
        image: redis
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v2
        with:
          node-version: "16.11.1"
      - uses: pnpm/action-setup@v2.1.0
        with:
          version: 6.31.0
      - uses: actions/cache@v2
        with:
          path: |
            node_modules
            */*/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
      - name: Install Dependencies
        run: |
          pnpm i
      - name: Install PostgreSQL client & net-tools
        run: |
          apt-get update
          apt-get install --yes postgresql-client
          apt-get install --yes net-tools
      - name: Create Postgres DB
        env:
          PGPASSWORD: postgres
        run: |
          createdb -h postgres -U postgres mdstest
      - name: Run Tests
        env:
          PG_NAME: mdstest
          PG_USER: postgres
          PG_HOST: postgres
          PG_PASS: postgres
          REDIS_HOST: redis
          NODE_OPTIONS: "--max_old_space_size=4096"
        run: |
          pnpm test -- --filter "...[origin/develop]"